body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .4s ease-in-out;
}

p {
	color: #eee;
}

.main {
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	/* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; */
	background: linear-gradient(to bottom, #141131, #2f2a62, #211c51);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.index-form {
    width: fit-content;
	height: 500px;
	background: red;
	overflow: hidden;
    text-align: center;
	background: linear-gradient(to bottom, #141131, #2f2a62, #211c51);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

.index-form label {
    cursor: default important;
}

.file-label {
	width: fit-content;
	background-color: #676689;
	color: white;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}

.file-label:hover {
	background: #5759b6b6;
}

.file-label:active {
	transform: scale(0.95);
}

#file-chosen {
	display: block;
	font-family: sans-serif;
	color: #eee;
}

.fileform-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.global-container {
	min-width: 95vw;
	max-width: fit-content;
	height: 95vh;
	overflow: hidden;
    text-align: center;
	background: linear-gradient(to bottom, #141131, #2f2a62, #211c51);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	position: relative;
	padding: 10px;
}