#chk {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

.reglog-input {
	width: 70%;
	height: 15px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	transition: 0.4s ease-in-out;
}

.send-input {
	width: 40%;
	height: 15px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	transition: 0.4s;
}

.reg-input:focus {
	background: #5759b6b6;
	color: #ffffff;
}

.log-input:focus {
	background: #5759b6;
	color: #ffffff;
}

.send-btn {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.send-btn:hover {
	background: #6d44b8;
}

.send-btn:active {
	transform: scale(0.88);
}

.reload-btn {
	width: fit-content;
	height: fit-content;
	margin-top: 10px;
	padding: 15px;
	border: none;
	border-radius: 0px;
	background: url("../img/reload.png") center no-repeat;
	cursor: pointer;
}

.success-message {
	text-align: center;
}

.login {
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label {
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked~.login {
	transform: translateY(-500px);
}

#chk:checked~.login label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}

.global-name {
	color: #e0dede;
	text-align: center;
	margin-top: 20px;
	font-size: 26px;
}

.file-label {
	margin: 0;
}

.redirect-btn {
	padding: 10px;
	border: none;
	cursor: pointer;
	color: #eee;
	background: #573b8a;
	border-radius: 10px;
	transition: 0.2s;
}

.redirect-btn:hover {
	background: #362556;
}

.header-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 10px;
}

.admin-btn-wrapper {
	display: flex;
}

.admin-btn-wrapper::first-child {
	margin-right: 10px;
}

.edit-btn {
	margin-left: 10px;
	padding: 10px;
	border: none;
	cursor: pointer;
	color: #eee;
	background: #5759b6;
	border-radius: 10px;
	transition: 0.2s;
}


.edit-btn:hover {
	background: #362556;
}

.edit-support-btn {
	width: fit-content;
	display: flex;
	position: relative;
	top: 0px;
	right: 0px;
}

.chosen-image {
	margin-left: 10px;
	display: inline-block;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.upload-container {
	position: relative;
	width: 100%;
	margin: 0;
}

.upload-btn {
	margin-left: 15px;
	padding: 0.4rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background: #573b8a;
	color: #eee;
	transition: 0.4s ease-in-out;
}

.upload-btn:hover {
	background: #362556;
}

.upload-btn:active {
	transform: scale(0.9);
}

.logout-btn {
	display: block;
	width: fit-content;
	padding: 10px;
	height: fit-content;
	padding-top: 5px;
	letter-spacing: 1px;
	font-size: 18px;
	padding-bottom: 5px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	transition: 0.4s;
	background: #573b8a;
	color: #eee;
}

.logout-btn:hover {
	background: #6d44b8;
}

.logout-btn:focus {
	transform: scale(0.98);
}

.loading,
.error,
.no-images {
	color: #eee;
	margin-top: 20px;
	font-size: 25px;
	letter-spacing: 1px;
}

.loading-container {
	width: 100%;
	height: 100%;
	margin-top: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading {
	margin-top: 140px;
}

.auto-reload-spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: url("../img/auto-reload.gif") center no-repeat;
	background-size: cover;
}

.spinner-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.spinner {
	position: absolute;
	width: 11.5px;
	height: 11.5px;
}

.spinner div {
	position: absolute;
	width: 50%;
	height: 150%;
	background: #5d05e6;
	transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
	animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
	--delay: 0.1;
	--rotation: 36;
	--translation: 150;
}

.spinner div:nth-child(2) {
	--delay: 0.2;
	--rotation: 72;
	--translation: 150;
}

.spinner div:nth-child(3) {
	--delay: 0.3;
	--rotation: 108;
	--translation: 150;
}

.spinner div:nth-child(4) {
	--delay: 0.4;
	--rotation: 144;
	--translation: 150;
}

.spinner div:nth-child(5) {
	--delay: 0.5;
	--rotation: 180;
	--translation: 150;
}

.spinner div:nth-child(6) {
	--delay: 0.6;
	--rotation: 216;
	--translation: 150;
}

.spinner div:nth-child(7) {
	--delay: 0.7;
	--rotation: 252;
	--translation: 150;
}

.spinner div:nth-child(8) {
	--delay: 0.8;
	--rotation: 288;
	--translation: 150;
}

.spinner div:nth-child(9) {
	--delay: 0.9;
	--rotation: 324;
	--translation: 150;
}

.spinner div:nth-child(10) {
	--delay: 1;
	--rotation: 360;
	--translation: 150;
}

@keyframes spinner-fzua35 {

	0%,
	10%,
	20%,
	30%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
	}

	50% {
		transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
	}
}

.images-container {
	width: 100%;
	height: fit-content;
	display: block;
}

.images-table {
	width: 100%;
	margin-top: 10px;
	color: #eee;
	box-sizing: border-box;
	border-collapse: collapse;
	font-size: 20px;

}

.images-table th,
tr {
	margin: 0;
}

th,
td {
	padding: 5px;
	outline: 1px solid #eee;
	outline-color: #eee;
	box-sizing: border-box;
	overflow-x: auto;
}

.image-container {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #eee;
}

.image-name,
.image-status {
	margin: 10px;
	font-size: 20px;
}

.btn-td {
	padding: 0px;
}

.resumbit-btn,
.del-btn,
.download-btn,
.view-btn,
.reject-btn,
.sign-btn,
.accept-btn {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 5px;
	border: none;
	transition: 0.4s;
	background: #573b8a;
	color: #eee;
	cursor: pointer;
}

.del-btn,
.download-btn,
.view-btn,
.reject-btn,
.sign-btn,
.accept-btn {
	width: fit-content;
	height: fit-content;
	margin: 3px;
	padding: 7px;
}

.resumbit-btn:hover,
.del-btn:hover,
.download-btn:hover,
.view-btn:hover,
.reject-btn:hover,
.sign-btn:hover,
.accept-btn:hover {
	background: #763fdc;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal-content {
	position: relative;
	background: #1f175c;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 10px;
	text-align: center;
}

.choose-btn {
	border: none;
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	background: #007BFF;
	transition: 0.4s;
	color: #eee;
	cursor: pointer;
}

.choose-btn:hover {
	background: #014287;
}

.modal-image {
	max-width: 100%;
	max-height: 80vh;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	background: url("../img/close.svg") center no-repeat;
	color: white;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.4s;
	transform: scale(1);
}

.close-btn:active {
	transform: scale(0.9);
}

.file-upload {
	width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #5d05e6;
	border: none;
	padding: 10px;
	border-radius: 10px;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.4s;
}

.file-upload-btn:hover {
	background: #5417b5;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}

.file-upload-btn:active {
	border: 0;
	transition: all .2s ease;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	transition: 0.4s;
	margin-top: 20px;
	border: 4px dashed #6e14ff;
	position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
	background-color: #5d05e6;
	border: 4px dashed #ffffff;
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text:hover h3 {
	color: #eee;
}

.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: #eee;
	padding: 60px 0;
}

.file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
}

.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all .2s ease;
}

.submit-btn {
	font-size: 25px;
	margin-top: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.4s;
	background: #898989;
	border: none;
	border-radius: 10px;
}

.submit-btn:enabled {
	color: #eee;
	background: #5417b5;
	cursor: pointer;
}

.submit-btn:enabled:hover {
	color: #eee;
	background: #3f1483;
}

.go-home-auth-btn {
	position: absolute;
	right: 30px;
	top: 10px;
	font-size: 18px;
	margin-top: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.4s;
	background: #5417b5;
	color: #eee;
	cursor: pointer;
	border: none;
	border-radius: 10px;
}

.go-home-auth-btn:hover {
	background: #3f1483;
}

.get-users-btn {
	width: 30%;
	height: fit-content;
	padding: 15px;
	border: none;
	cursor: pointer;
	margin: 5px;
	background: #5417b5;
	color: #eee;
	transition: 0.2s;
}

.get-users-btn:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
}

.active-tab {
    background-color: #007BFF;
    color: white;
    border-color: #0056b3;
}

.get-users-btn:active:hover {
	background: #3f1483;
}

.td-actions {
	display: flex;
	justify-content: space-around;
}

.change-role-btn {
	padding: 5px;
	margin-left: 5px;
	background: #5d05e6;
	color: #eee;
	cursor: pointer;
	border: 0;
	transition: 0.2s;
}

.change-role-btn:hover {
	background: #3f1483;
}

.back-btn {
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
}

.label-form {
	margin: 0;
	cursor: default;
}

.edit-input {
	width: fit-content;
	max-width: 300px;	
}

.send-btn {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	cursor: pointer;
	background: #014287;
	margin-bottom: 10px;
	margin-top: 0;
}

.comment-header {
	color: #eee;
	letter-spacing: 0.2px;
	font-size: 25px;
	margin: 10px;
}

.comment-area {
	width: 300px;
	max-width: 300px;
	min-width: 300px;
	min-height: 100px;
	max-height: 200px;
	border: 2px solid transparent;
	background: #e0dede;
	border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #eee;
	padding: 5px;
}

.comment-area::placeholder {
	color: #0c0c0c;
}

.comment-area:focus {
	width: 330px;
	max-width: 330px;
	outline: none;
	background: #ebebeb;
	border-radius: 5px;
	border: 2px solid #f3f3f3;
	color: #000000;
}